{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="dual-column-container">
    <h1 class="title">Title</h1>
    <div class="content-container">
      <div class="left-column">
        <h2>City 1</h2>
        <table>
            <thead>
                <tr>
                    <th>split</th>
                    <th>split</th>
                    <th>split</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publication_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      <div class="right-column">
        <h2>City 2</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publication Date</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publication_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
